<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">
    
    <div fxFlex="100">
        <div>
          <h3>{{dish.name | uppercase}}</h3>
          <hr>
        </div>
      </div>

  <div fxFlex="40">
    <!-- <p>Display the details of the Dish here</p> -->
    <div>
       
        <mat-card  *ngIf="dish">
            <mat-card-header>
                <mat-card-title>
                    <h3>{{dish.name | uppercase}}</h3>
                </mat-card-title>
        
            </mat-card-header>
            <img mat-card-image src={{dish.image}} alt={{dish.name}}>
            <mat-card-content>
        <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
        </div>
  </div>

  <div fxFlex="40">
    <!-- <p>Display the list of comments here</p> -->
<div>
  
        <mat-list *ngIf="dish" >
            
            <h1 mat-line>comments</h1>
            <mat-list-item *ngFor="let d of dish.comments">

                <p matLine>{{d.comment}}</p>
                <p matLine>{{d.rating}} Stars</p>
                <p matLine>-- {{d.author}} {{d.date | date}}</p>
                
                
            </mat-list-item>
        </mat-list>
   
  
</div>
 </div>

</div>
